<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <style>
            body
{
 background-color :#F0F8FF;
 margin: 0px;
 padding: 0px;

 font-family: Times New Roman;
 font-size:20px;
 font-weight: bolder;
}
.div2{width:100%;height:500px;background-color: blue;
background-image: url('https://engineering.case.edu/sites/default/files/plane-take-off-feat.jpg');background-size: cover;background-repeat: no-repeat;}

/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}*/

a
{
 color: black; 
}
.booking_header{background: transparent;}

/*.booking_header
{
 position: fixed;
 top: 0;
 padding-top:30px;
 width: 100%;
 
 background: transparent;
 height: 60px;
}

.button1
{
 font-weight: bold;
 font-size: 20px;
 margin-right: 10px;
 border: none;
 display: inline-block;
 height:30px;
 transition: background-color 1s, color 1s, opacity 1s;
}
.button1:hover
{
 background-color:wheat;
 color: rgb(41, 3, 3);
 height:30px;
}
.button1:active
{
 opacity: 0.3;
}
.right
{
 text-align: right;
}*/
.div4{height: 200px;width:70%;margin-left:15%;padding: 20px;}
            </style>
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="div2">
           
        </div>
        <div class="div3">
          <h1 style="text-align: center;">About Us</h1><br>
          <div class="div4">
            <p>we started small, with a simple idea of flying high for less,has grown over the last 30 years
                into the largest airline in the world.Each week,nearly 265 million customers and members fly 
                approximately. Our airlines continues  to be a leader in sustainability,corporate philanthropy and 
                employment opportunity.It's all part of our unwavering commitment to creating opportunities and bringing 
                values to customers ans communities around the world.
            </p>
          </div>
        </div>
    </body>
</html>