<div class="booking_header right">
    <nav>
        <div class="d">
            <div class="yes">
                <h2 class="ma">Airline-X</h2>
            </div>
    <div class="button1">
    <a href="/home">
    Home
    </a>
    </div>
    <div class="button1">
    <a href="/login">
    Log in
    </a>
    </div>
    <div class="button1">
        <a href="/cancellation">
        Cancel Flight
        </a>
        </div>
    <div class="button1">
        <a href="/register">
        Sign up
        </a>
        </div>
    <div class="button1">
    <a href="/contact">
    Contact Us
    </a>
    </div>
    <div class="button1">
    <a href="/about">
    About Us
    </a>
    </div>
    </div>
    </nav>
    </div>
    
    
    